{% extends "layout.html" %}

{% block heading %}
<h1>{{ details_books.title }}</h1>
{% endblock %}

{% block body %}

<button onclick="goBack()">Go Back</button>

    <h2>Hello, {{ current_user }}</h2>

    <h3>Relevant data</h3>
    <table>
        <tr>
            <th>ISBN</th> 
            <th>Author</th>
            <th>Year</th>
        </tr>
            <tr>
                <td>{{ details_books.isbn }}</td>
                <td>{{ details_books.author }}</td>
                <td>{{ details_books.year }}</td>
            </tr>
    </table>
    <h3>Reviews from users</h3>
    <ul>
        {% for review in list_reviews %}
            <li> Rating: {{review.rating}}. Comment:{{ review.text }}. By: {{ review.reviews_username }} </li>
        {% else %}
            <p>No reviews for this book.</p>
        {% endfor %}
    </ul>
    
    <h3>External reviews (Goodread)</h3>
    <ul>
        <li> Review 1 </li>
        <li> Review 2 </li>
    </ul>

    <h3>Submit your own review</h3>

    <form action="{{ url_for('book',isbn=details_books.isbn ) }}" method="POST">
        <input type="text" name="comment" placeholder="Enter your review here">
        <input type="number" name="rating" placeholder="Enter your rating here">
        <button>Submit</button>
    </form>

    <a href="{{ url_for('home') }}"> Home</a>
    <a href="{{ url_for('api') }}"> Generate API</a>
    <a href="{{ url_for('index') }}"> Logout</a>

    <script>
        function goBack() {
          window.history.back();
        }
    </script>

{% endblock %}