{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').dataTable({
            "order": [[ 0, 'asc' ]]
        });
        $('#example').show();
    } );
</script>

{% endblock %}

{% block heading %}
    Welcome  to our website!
{% endblock %}

{% block body %}

<div class="container">

    <table class="dataTable" id="example" style="display:none" >
      <thead>
        <tr>
            <th>ISBN</th> 
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
        </tr>
      </thead>
      <tbody>
        {% for book in list_books %}
            <tr>
                <td>{{ book.isbn }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.year }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

    <a href="{{ url_for('index') }}"> Logout</a>

    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>

{% endblock %}